<h1>Search Results</h1>
<!-- 

<form action="/search" method="get">
  <p>
    <input type="text" name="search" id="search"/>
    <input type="submit" name="commit" value="Search"/>
  </p>
</form> -->
