
<a href="/cart">View cart</a>
<h2><%= @type.name %></h2>

<% if @type.nonprofits.any? %>
  <% @type.nonprofits.each do |nonprofit| %>
    <div class="type"
      <p><%= link_to nonprofit.name, type_nonprofit_path(@type, nonprofit) %>
      </p>
    </div>
  <% end %>
  <% else %>

  <p>This type is empty</p>
<% end %>

<a href="/types">Go Home</a>
