<h6>User Account Page</h6>

<h3>Logged in as <strong><%= current_user.email %></strong></h3>

<hr>

<h4>Thank you for your support! <br>

  <% if Order.where(user_id: @user.id) %>

  <p>You have made the following contributions:</p>


  <ul>
    <% @all_user_orders.each do |order| %>
      <li> <%= Order.ids %> </li>
    <% end %>
  </ul>
<% end %>
