<h2>Click a nonprofit for donation history:</h2>

<% if @nonprofits %>

  <!-- <p>All nonprofits:</p> -->

  <ul>
    <% @nonprofits.each do |nonprofit| %>
      <li><%= link_to nonprofit.name, donation_path(nonprofit.id) %></li>
    <% end %>
  </ul>
<% end %>
