<h2>This is the Admin Data Page!</h2>

<% if @nonprofits %>

  <p>All nonprofits:</p>

  <ul>
    <% @nonprofits.each do |nonprofit| %>
      <li><%= link_to nonprofit.name, donations_path(nonprofit.id) %></li>
    <% end %>
  </ul>
<% end %>
